.section4 {
    width: 100%;
    height: 34vw;
    background: black;
    padding: 6% 8% 0 8%;
    color: white;
}

.section4 .outter {
    width: 100%;
    height: 74%;
    border-bottom: solid 1px #4d4d4d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0.5%;
}

.section4 .outter .list {
    width: 30%;
}

.section4 .outter .list p {
    color: gray;
    font-size: 1vw;
    font-weight: bold;
}

.section4 .outter ul {
    list-style: none;
    width: 100%;
    margin-top: 9%;
}

.section4 .outter ul li {
    margin-top: 4.5%;
    font-size: 1vw;
}

.section4 .outter ul li:hover {
    font-size: 1.1vw;
}

.section4 .outter .buttons {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section4 .outter .buttons a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section4 .outter .buttons a img {
    width: 90%;
    margin-bottom: 10%;
    border: solid 1px grey;
    border-radius: 10px;
    transition: transform .2s;
}

.section4 .outter .buttons a img:hover {
    width: 95%;
    transform: scale(1.05);
}

.section4 .footerr {
    width: 100%;
    height: 26%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.section4 .footerr svg {
    fill: white;
    width: 15%;
}

.section4 .footerr p {
    font-size: 1.2vw;
}

.section4 .footerr .links {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.section4 .footerr .links i {
    padding-left: 12%;
    font-size: 2vw;
}

@media screen and (max-width: 550px) {
    .section4 {
        height: auto;
    }

    .section4 .outter {
        display: flex;
        flex-direction: column;
    }

    .section4 .outter .list {
        margin-bottom: 6%;
    }

    .section4 .outter .list p {
        font-size: 4vw;
    }

    .section4 .outter ul li {
        font-size: 3vw;
    }

    .section4 .outter .buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .section4 .outter .buttons a img {
        width: 70%;
    }

    .section4 .footerr {
        height: auto;
        padding: 5% 0;
    }
    
    .section4 .footerr svg {
        width: 30%;
    }
    
    .section4 .footerr p {
        font-size: 3vw;
    }
    
    .section4 .footerr .links {
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .section4 .footerr .links i {
        padding-left: 12%;
        font-size: 5vw;
    }

}